/* start body */

body{
background-color:#F5F5F5;
}

/* End body */
.container{
background-color:#EFEAEA;
}
/* start breadcrumb */

.breadcrumb {
background-color: #FFF;
border-radius: 0px;
margin-right: 20px;
color: #C6C6C6;
}
a{
color:#665959;
}
.action{
background-color: #8F8181;
color:#665959;
text-align:center;
margin-left: -49px;
margin-bottom: 37px;
padding-bottom: 5%;
padding-top: 5%;
}

.ol .breadcrumb {
margin-top: 6px;
}
/* End breadcrumb */

/* start paragraph */

.para{
background: -webkit-linear-gradient(#379C37, white); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#379C37, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#379C37, white); /* For Firefox 3.6 to 15 */
background: linear-gradient (#379C37, white); /* Standard syntax */
}

/* end paragraph */

/* start table */

.table-bg-left{
background-color:white;
margin-top: 40px;

}
.table-bg-right{
background-color:white;
margin-top: 40px;

}
.scroll-me{
max-height: 200px;
overflow-y: scroll;
overflow-x: hidden;

}
.small-gray{
color:#8C8686;
font-size: .8em;
}
h4{
color: green;
}
.note{
color:green;
}
.gray{
color:gray;
}
.btn-table{
padding: 3px 8px;
margin-left: 9px;
}
.inner-row{
padding-bottom: 14px;
}
.img-opt{
width: 7%;
}
.my_shado{
 box-shadow: 10px 10px 5px #888888
}
/* end table */