body{
background-color: #EDE7E7;
}
h1{
font-size: 30.5px;
line-height: 67px;
font-family: monospace;
}
.breadcrumb{
background-color: white;
border-radius: 0;
}
.action{
background-color: #A8A0A0
margin-left: 74%;
margin-top: -4%;
}
a{
color:black;
}
.whole{
background: -webkit-linear-gradient(#379C37, white); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#379C37, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#379C37, white); /* For Firefox 3.6 to 15 */
background: linear-gradient (#379C37, white); /* Standard syntax */

}
.row{
margin-left: 1px;
}
.title{
font-size:19px;
padding-top: 16px;
}
.btn-my-style{
padding-left:1%;
padding-right:1%;
padding-top:.5%;
padding-bottom:.5%;
margin-left:2%;	
}
.margin-col{
margin-top:1%;
}
.green-text{
color:green;
font-size:1.5em;
}
.gray-text{
color:gray;
padding-left:1%;	
}
.my-scroll{
max-height: 200px;
overflow-y: scroll;
overflow-x: hidden;
padding-left: 1%;
}

.left{
width:40%;
background-color:white;
margin-top:1.5%;
float: left;
margin-right:3%;
margin-left:3%;	

}
.my-table-footer{
color:green;
padding-top: 3%;
padding-left: 78%;
}
.img-size{
width: 6%;
}
.right{
width:45%;
background-color:white;
margin-top:1.5%;
float: left;
}
.text-small{
font-size:.82em;
padding-left:1.5%;
}